<h1>Welcome to Rock Paper Scissors</h1>
<p>The game is played where players input hand rock, paper and scissors. <br>The outcome of the game is determined by 3 simple rules:
<br>Rock wins against scissors.
<br>Scissors win against paper.
<br>Paper wins against rock.
<br> The official rules can be found on <a href="https://www.wrpsa.com/official-rules/">World Rock Paper Scissors Association</a>
</p>
